/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.alert {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #52575c;
    border: 2px solid #010101;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}